@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  -webkit-tap-highlight-color: transparent;
}
